@page
@using Generic.Abp.Metro.UI.Theme.Basic.Demo.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.FormModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<MetroUiThemeBasicDemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var text = L["Form"].Value;
    PageLayout.Content.Title = text;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@text" data-cls-title="bg-dark fg-white  h4 m-0">
    <div class="row w-100 p-2 border-1 bd-gray border-solid">
        <form border="LRTB" border-style="Solid" class="p-1 cell-6">
            <metro-input asp-for="@Model.Form.Name" id="Name1"/>
            <metro-input asp-for="@Model.Form.Age" id="Age1" />
            <metro-input asp-for="@Model.Form.Password" id="Password1"/>
        </form>
        <form border="LRTB" border-style="Solid" class="p-1 cell-6">
            <metro-form-content horizontal="true" cols="1">
                <metro-input asp-for="@Model.Form.Name" id="Name2" />
                <metro-input asp-for="@Model.Form.Age" id="Age2" />
                <metro-input asp-for="@Model.Form.Password" id="Password2" />
            </metro-form-content>
        </form>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;form border="LRTB" border-style="Solid" class="p-1 cell-6"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Name" id="Name1"/&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Age" id="Age1"/&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Password" id="Password1"/&gt;
            &lt;/form&gt;
            &lt;form border="LRTB" border-style="Solid" class="p-1 cell-6"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Name" id="Name2"/&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Age" id="Age2"/&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Password" id="Password2"/&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
        </div>
    </div>
    
    <h4>Horizontal columns</h4>
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <form border="LRTB" border-style="Solid" class="m-1">
            <metro-form-content horizontal="true" cols="2">
                <metro-input asp-for="@Model.Form.Name" id="Name3" />
                <metro-input asp-for="@Model.Form.Age"  id="Age3"/>
                <metro-input asp-for="@Model.Form.Password" id="Password3"/>
                <metro-input asp-for="@Model.Form.PhoneNumber" id="PhoneNumber3" />
            </metro-form-content>
        </form>
        <form border="LRTB" border-style="Solid" class="m-1">
            <metro-form-content horizontal="true" cols="3">
                <metro-input asp-for="@Model.Form.Name" id="Name4" />
                <metro-input asp-for="@Model.Form.Age" id="Age4" />
                <metro-input asp-for="@Model.Form.Password" id="Password4" />
                <metro-input asp-for="@Model.Form.PhoneNumber" id="PhoneNumber4" />
            </metro-form-content>
        </form>
        <form border="LRTB" border-style="Solid" class="m-1">
            <metro-form-content horizontal="true" cols="4">
                <metro-input asp-for="@Model.Form.Name" id="Name5" />
                <metro-input asp-for="@Model.Form.Age" id="Age5" />
                <metro-input asp-for="@Model.Form.Password" id="Password5" />
                <metro-input asp-for="@Model.Form.PhoneNumber" id="PhoneNumber5" />
            </metro-form-content>
        </form>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;form border="LRTB" border-style="Solid" class="m-1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="2"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Name" id="Name3" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Age" id="Age3" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Password" id="Password3" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.PhoneNumber" id="PhoneNumber3 /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
            &lt;form border="LRTB" border-style="Solid" class="m-1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="3"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Name" id="Name4" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Age" id="Age4" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Password" id="Password4" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.PhoneNumber" id="PhoneNumber4" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
            &lt;form border="LRTB" border-style="Solid" class="m-1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="4"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Name" id="Name5"  /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Age" id="Age5" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Password" id="Password5" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.PhoneNumber" id="PhoneNumber5" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
        </div>
    </div>

    <h4>Size</h4>
    <div class="row w-100 p-2 border-1 bd-gray border-solid">
        <form border="LRTB" border-style="Solid" class="m-1 cell-3">
            <metro-form-content horizontal="true" cols="1" size="Small">
                <metro-input asp-for="@Model.Form.Name" id="Name6" />
            </metro-form-content>
        </form>
        <form border="LRTB" border-style="Solid" class="m-1 cell-3">
            <metro-form-content horizontal="true" cols="1">
                <metro-input asp-for="@Model.Form.Name" id="Name7" />
            </metro-form-content>
        </form>
        <form border="LRTB" border-style="Solid" class="m-1 cell-3">
            <metro-form-content horizontal="true" cols="1" size="Large">
                <metro-input asp-for="@Model.Form.Name" id="Name8" />
            </metro-form-content>
        </form>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;form border="LRTB" border-style="Solid" class="m-1 cell-3"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="1" size="Small"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Name" id="Name6" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
            &lt;form border="LRTB" border-style="Solid" class="m-1 cell-3"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Name" id="Name7" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
            &lt;form border="LRTB" border-style="Solid" class="m-1 cell-3"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="1" size="Large"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Name" id="Name8" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
        </div>
    </div>
    
    <h4>Prepend and append</h4>
    <div class="row w-100 p-2 border-1 bd-gray border-solid">
        <form border="LRTB" border-style="Solid" class="m-1 p-1 cell-3">
            <metro-input asp-for="@Model.Form.Name" no-label="true" prepend="Name" append="%" id="Name9" />
        </form>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;form border="LRTB" border-style="Solid" class="m-1 p-1 cell-3"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Name" no-label="true" prepend="Name" append="%" id="Name9" /&gt;
            &lt;/form&gt;
        </div>
    </div>

    <h4>Dynamic</h4>
    <div class="row w-100 p-2 border-1 bd-gray border-solid">
        <form border="LRTB" border-style="Solid" class="p-1" data-role="validator">
            <metro-form-content metro-model="Form" label-width="150">
                <metro-input asp-for="@Model.Form.Name" />
                <metro-tag-input asp-for="@Model.Form.Tags2" max-tags="5" />
            </metro-form-content>
            <button class="button success">Submit</button>
        </form>
    </div>
    <div class=" p-2 bg-grayWhite">
        <pre><code class="language-csharp">
            @{
                var str = @"
        public class FormViewModel
        {
            [HiddenInput] public Guid Id { get; set; }

            [Required]
            [StringLength(128, MinimumLength = 4)]
            public string Name { get; set; }

            [DataType(DataType.Password)] public string Password { get; set; }
            public string PhoneNumber { get; set; }

            [Required] public int Age { get; set; }
            [DisplayOrder(20000)] public bool Confirm { get; set; }

            [Display(Name = ""BirthDay"")]
            [DataType(DataType.Date)]
            public DateTime BirthDateTime { get; set; }

            public DateTime UpdateDateTime { get; set; }
            public CarType CarType { get; set; }
            [RadioGroup(4)] public CarType CarType2 { get; set; }
            [CheckboxGroup(2)] public List<CarType> CarType3 { get; set; }
            [SelectItems(nameof(CountryList))] public string Country { get; set; }

            [SelectItems(nameof(CityList))] public List<string> City { get; set; }

            [SelectItems(nameof(CityList))]
            [CheckboxGroup(4)]
            public List<string> City1 { get; set; }

            [TagInput(5)] public List<string> Tags { get; set; }
            public string[] Tags2 { get; set; }

            [TextArea] public string Remarks { get; set; }
            public Address Address { get; set; }
        }

        public class Address
        {
            public string Street { get; set; }
            public string City { get; set; }
            public string Postcode { get; set; }
            public string Country { get; set; }
        }
";
            }
            @str
        </code></pre>
        <div class="code">
            &lt;form border="LRTB" border-style="Solid" class="p-1" data-role="validator"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content metro-model="Form" label-width="150"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            &lt;metro-input asp-for="@@Model.Form.Name" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-tag-input asp-for="@@Model.Form.Tags2" max-tags="5" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;button class="button success"&gt;Submit&lt;/button&gt;
            &lt;/form&gt;
        </div>
    </div>
    
    <h4>Group</h4>
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <form border="LRTB" border-style="Solid" class="p-1" data-role="validator">
            <metro-tabs>
                <metro-tab title="Base" target="base" />
                <metro-tab title="Address" target="address" />
            </metro-tabs>
            <div class="border bd-default no-border-top p-2 w-100">
                <div id="base">
                    <metro-form-content metro-model="Form" label-width="150" group-name="base">
                        <metro-input asp-for="@Model.Form.Name" />
                    </metro-form-content>

                </div>
                <div id="address">
                    <metro-form-content metro-model="Form" label-width="150" group-name="address">
                    </metro-form-content>

                </div>
            </div>
            <button class="button success">Submit</button>
        </form>
    </div>
    <div class=" p-2 bg-grayWhite">
        <pre><code class="language-csharp">
    @{
          var str2 = @"
        public class FormViewModel
        {
            ...

            [FormContentGroup(""base"")]
            [DataType(DataType.Password)] 
            public string Password { get; set; }

            ...
        }

        public class Address
        {
            [FormContentGroup(""address"")] public string Street { get; set; }
            [FormContentGroup(""address"")] public string City { get; set; }
            [FormContentGroup(""address"")] public string Postcode { get; set; }
            [FormContentGroup(""address"")] public string Country { get; set; }
        }
";
      }
        @str2
        </code></pre>
        <div class="code">
            &lt;form border="LRTB" border-style="Solid" class="p-1" data-role="validator"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-tabs&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-tab title="Base" target="base" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-tab title="Address" target="address" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-tabs&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="border bd-default no-border-top p-2 w-100"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div id="base"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content metro-model="Form" label-width="150" group-name="base"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Form.Name" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div id="address"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content metro-model="Form" label-width="150" group-name="address"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;button class="button success"&gt;Submit&lt;/button&gt;
            &lt;/form&gt;
        </div>
    </div>
</div>