@page
@using Generic.Abp.Metro.UI.TagHelpers.Pagination
@using Generic.Abp.Metro.UI.Theme.Basic.Demo.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.PaginationModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<MetroUiThemeBasicDemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var text = L["Pagination"].Value;
    PageLayout.Content.Title = text;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@text" data-cls-title="bg-dark fg-white  h4 m-0">
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <metro-pagination model="@Model.PagerModel" size="Small" show-info="true" />
        <metro-pagination model="@Model.PagerModel" accent-color="Primary" show-info="true" pagination-align="Center" />
        <metro-pagination model="@Model.PagerModel" show-info="true" accent-color="Alert" size="Large" pagination-align="Right" />
        <metro-pagination model="@Model.PagerModel" rounded="true" />
        <metro-pagination model="@Model.PagerModel" gap="false" pagination-align="Center" />
        <metro-pagination model="@Model.PagerModel" pagination-align="Right"  />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-pagination model="@@Model.PagerModel" size="Small" show-info="true" /&gt;
            &lt;metro-pagination model="@@Model.PagerModel" accent-color="Primary" show-info="true" pagination-align="Center" /&gt;
            &lt;metro-pagination model="@@Model.PagerModel" show-info="true" accent-color="Alert" size="Large" pagination-align="Right" /&gt;
            &lt;metro-pagination model="@@Model.PagerModel" rounded="true" /&gt;
            &lt;metro-pagination model="@@Model.PagerModel" gap="false" pagination-align="Center" /&gt;
            &lt;metro-pagination model="@@Model.PagerModel" pagination-align="Right" /&gt;
        </div>
    </div>

</div>