@page
@using Generic.Abp.Demo.Localization
@using Generic.Abp.Metro.UI.TagHelpers.Button
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.ButtonsModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var buttonsText = L["Buttons"].Value;
    PageLayout.Content.Title = buttonsText;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@buttonsText" data-cls-title="bg-dark fg-white  h4 m-0">
    <h4>@L["ButtonColors"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button color="Default" text="Default" metro-class="mr-1" />
        <metro-button color="Primary" text="Primary" metro-class="mr-1" />
        <metro-button color="Secondary" text="Secondary" metro-class="mr-1" />
        <metro-button color="Success" text="Success" metro-class="mr-1" />
        <metro-button color="Alert" text="Alert" metro-class="mr-1" />
        <metro-button color="Warning" text="Warning" metro-class="mr-1" />
        <metro-button color="Yellow" text="Yellow" metro-class="mr-1" />
        <metro-button color="Info" text="Info" metro-class="mr-1" />
        <metro-button color="Dark" text="Dark" metro-class="mr-1" />
        <metro-button color="Light" text="Light" metro-class="mr-1" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button color="Default" text="Default" metro-class="mr-1" /&gt;
            &lt;metro-button color="Primary" text="Primary" metro-class="mr-1" /&gt;
            &lt;metro-button color="Secondary" text="Secondary" metro-class="mr-1" /&gt;
            &lt;metro-button color="Success" text="Success" metro-class="mr-1" /&gt;
            &lt;metro-button color="Alert" text="Alert" metro-class="mr-1" /&gt;
            &lt;metro-button color="Warning" text="Warning" metro-class="mr-1" /&gt;
            &lt;metro-button color="Yellow" text="Yellow" metro-class="mr-1" /&gt;
            &lt;metro-button color="Info" text="Info" metro-class="mr-1" /&gt;
            &lt;metro-button color="Dark" text="Dark" metro-class="mr-1" /&gt;
            &lt;metro-button color="Light" text="Light" metro-class="mr-1" /&gt;
        </div>
    </div>

    <h4>@L["ButtonIcon"].Value</h4>
    <div class="row p-2 border-1 bd-gray border-solid">
        <metro-button icon="checkmark" text="Check" metro-class="mr-1" />
        <metro-button icon="users" icon-cls="fg-blue" metro-class="mr-1" />
        <metro-button icon="user" icon-cls="fg-blue" icon-type="FontAwesome" text="FontAwesome" metro-class="mr-1" />
        <metro-button icon="https://cdn-icons-png.flaticon.com/128/3884/3884607.png" icon-type="Image" text="Image" metro-class="mr-1" />
    </div>
    <div class="p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button icon="checkmark" text="Check" metro-class="mr-1"/&gt;
            &lt;metro-button icon="users" icon-cls="fg-blue" metro-class="mr-1" /&gt;
            &lt;metro-button icon="user" icon-cls="fg-blue" icon-color="FontAwesome" text="FontAwesome" metro-class="mr-1" /&gt;
            &lt;metro-button icon="https://cdn-icons-png.flaticon.com/128/3884/3884607.png" icon-color="Image" text="Image" metro-class="mr-1" /&gt;
        </div>
    </div>

    <h4>@L["ButtonOutline"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button color="Default" text="Default" metro-class="mr-1" outline="true" />
        <metro-button color="Primary" text="Primary" metro-class="mr-1" outline="true" />
        <metro-button color="Secondary" text="Secondary" metro-class="mr-1" outline="true" />
        <metro-button color="Success" text="Success" metro-class="mr-1" outline="true" />
        <metro-button color="Alert" text="Alert" metro-class="mr-1" outline="true" />
        <metro-button color="Warning" text="Warning" metro-class="mr-1" outline="true" />
        <metro-button color="Yellow" text="Yellow" metro-class="mr-1" outline="true" />
        <metro-button color="Info" text="Info" metro-class="mr-1" outline="true" />
        <metro-button color="Dark" text="Dark" metro-class="mr-1" outline="true" />
        <metro-button color="Light" text="Light" metro-class="mr-1" outline="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button color="Default" text="Default" metro-class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Primary" text="Primary" metro-class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Secondary" text="Secondary" metro-class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Success" text="Success" metro-class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Alert" text="Alert" metro-class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Warning" text="Warning" metro-class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Yellow" text="Yellow" metro-class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Info" text="Info" metro-class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Dark" text="Dark" metro-class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Light" text="Light" metro-class="mr-1" outline="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonSizes"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid flex-align-center">
        <metro-button color="Primary" text="Mini" size="Mini" metro-class="mr-1" />
        <metro-button color="Primary" text="Small" size="Small" metro-class=" mr-1" />
        <metro-button color="Primary" text="Default" metro-class="mr-1" />
        <metro-button color="Primary" text="Large" size="Large" metro-class="mr-1" />
        <metro-button color="Primary" text="Mini" size="Mini" metro-class="mr-1" outline="true" />
        <metro-button color="Primary" text="Small" size="Small" metro-class="mr-1" outline="true" />
        <metro-button color="Primary" text="Default" metro-class="mr-1" outline="true" />
        <metro-button color="Primary" text="Large" size="Large" metro-class="mr-1" outline="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button color="Primary" text="Mini" size="Mini" metro-class="mr-1" /&gt;
            &lt;metro-button color="Primary" text="Small" size="Small" metro-class=" mr-1" /&gt;
            &lt;metro-button color="Primary" text="Default"  metro-class="mr-1"  /&gt;
            &lt;metro-button color="Primary" text="Large" size="Large" metro-class="mr-1"  /&gt;
            &lt;metro-button color="Primary" text="Mini" size="Mini" metro-class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Primary" text="Small" size="Small" metro-class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Primary" text="Default" metro-class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Primary" text="Large" size="Large" metro-class="mr-1" outline="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonRoundedCorners"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid flex-align-center">
        <metro-button color="Primary" text="Mini" size="Mini" metro-class="mr-1" rounded="true" />
        <metro-button color="Primary" text="Small" size="Small" metro-class=" mr-1" rounded="true" />
        <metro-button color="Primary" text="Default" metro-class="mr-1" rounded="true" />
        <metro-button color="Primary" text="Large" size="Large" metro-class="mr-1" rounded="true" />
        <metro-button color="Primary" text="Mini" size="Mini" metro-class="mr-1" outline="true" rounded="true" />
        <metro-button color="Primary" text="Small" size="Small" metro-class="mr-1" outline="true" rounded="true" />
        <metro-button color="Primary" text="Default" metro-class="mr-1" outline="true" rounded="true" />
        <metro-button color="Primary" text="Large" size="Large" metro-class="mr-1" outline="true" rounded="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button color="Primary" text="Mini" size="Mini" metro-class="mr-1" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Small" size="Small" metro-class=" mr-1" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Default"  metro-class="mr-1" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Large" size="Large" metro-class="mr-1" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Mini" size="Mini" metro-class="mr-1" outline="true" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Small" size="Small" metro-class="mr-1" outline="true" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Default" metro-class="mr-1" outline="true" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Large" size="Large" metro-class="mr-1" outline="true" rounded="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonSquareAndCycle"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid flex-align-center">
        <metro-button color="Primary" size="Mini" metro-class="mr-1" shape="Square" icon="play" />
        <metro-button color="Primary" size="Small" metro-class=" mr-1" shape="Square" icon="play" />
        <metro-button color="Primary" metro-class="mr-1" shape="Square" icon="play" />
        <metro-button color="Primary" size="Large" metro-class="mr-1" shape="Square" icon="play" />
        <metro-button color="Primary" size="Mini" metro-class="mr-1" shape="Cycle" icon="play" />
        <metro-button color="Primary" size="Small" metro-class="mr-1" shape="Cycle" icon="play" />
        <metro-button color="Primary" metro-class="mr-1" shape="Cycle" icon="play" />
        <metro-button color="Primary" size="Large" metro-class="mr-1" shape="Cycle" icon="play" />
        <metro-button color="Primary" size="Mini" metro-class="mr-1" shape="Square" icon="play" outline="true" />
        <metro-button color="Primary" size="Small" metro-class=" mr-1" shape="Square" icon="play" outline="true" />
        <metro-button color="Primary" metro-class="mr-1" shape="Square" icon="play" outline="true" />
        <metro-button color="Primary" size="Large" metro-class="mr-1" shape="Square" icon="play" outline="true" />
        <metro-button color="Primary" size="Mini" metro-class="mr-1" shape="Cycle" icon="play" outline="true" />
        <metro-button color="Primary" size="Small" metro-class="mr-1" shape="Cycle" icon="play" outline="true" />
        <metro-button color="Primary" metro-class="mr-1" shape="Cycle" icon="play" outline="true" />
        <metro-button color="Primary" size="Large" metro-class="mr-1" shape="Cycle" icon="play" outline="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button color="Primary" size="Mini" metro-class="mr-1" shape="Square" icon="play" /&gt;
            &lt;metro-button color="Primary" size="Small" metro-class=" mr-1" shape="Square" icon="play" /&gt;
            &lt;metro-button color="Primary" metro-class="mr-1" shape="Square" icon="play" /&gt;
            &lt;metro-button color="Primary" size="Large" metro-class="mr-1" shape="Square" icon="play" /&gt;
            &lt;metro-button color="Primary" size="Mini" metro-class="mr-1" shape="Cycle" icon="play" /&gt;
            &lt;metro-button color="Primary" size="Small" metro-class="mr-1" shape="Cycle" icon="play" /&gt;
            &lt;metro-button color="Primary" metro-class="mr-1" shape="Cycle" icon="play" /&gt;
            &lt;metro-button color="Primary" size="Large" metro-class="mr-1" shape="Cycle" icon="play" /&gt;
            &lt;metro-button color="Primary" size="Mini" metro-class="mr-1" shape="Square" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" size="Small" metro-class=" mr-1" shape="Square" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" metro-class="mr-1" shape="Square" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" size="Large" metro-class="mr-1" shape="Square" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" size="Mini" metro-class="mr-1" shape="Cycle" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" size="Small" metro-class="mr-1" shape="Cycle" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" metro-class="mr-1" shape="Cycle" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" size="Large" metro-class="mr-1" shape="Cycle" icon="play" outline="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonShadowed"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button color="Default" text="Default" metro-class="mr-1" shadowed="true" />
        <metro-button color="Primary" text="Primary" metro-class="mr-1" shadowed="true" />
        <metro-button color="Secondary" text="Secondary" metro-class="mr-1" shadowed="true" />
        <metro-button color="Success" text="Success" metro-class="mr-1" shadowed="true" />
        <metro-button color="Alert" text="Alert" metro-class="mr-1" shadowed="true" />
        <metro-button color="Warning" text="Warning" metro-class="mr-1" shadowed="true" />
        <metro-button color="Yellow" text="Yellow" metro-class="mr-1" shadowed="true" />
        <metro-button color="Info" text="Info" metro-class="mr-1" shadowed="true" />
        <metro-button color="Dark" text="Dark" metro-class="mr-1" shadowed="true" />
        <metro-button color="Light" text="Light" metro-class="mr-1" shadowed="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button color="Default" text="Default" metro-class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Primary" text="Primary" metro-class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Secondary" text="Secondary" metro-class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Success" text="Success" metro-class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Alert" text="Alert" metro-class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Warning" text="Warning" metro-class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Yellow" text="Yellow" metro-class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Info" text="Info" metro-class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Dark" text="Dark" metro-class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Light" text="Light" metro-class="mr-1" shadowed="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonFlat"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button metro-class="mr-1" button-style="Flat" text="@L["ButtonFlat"].Value" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button metro-class="mr-1" button-style="Flat" text="@L["ButtonFlat"].Value" /&gt;
        </div>
    </div>

    <h4>@L["ButtonCommand"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button metro-class="mr-1" button-style="Command" icon="share" color="Primary" caption="Yes, share and connect<small>Use this option for home or work</small>" />
        <metro-button metro-class="mr-1" button-style="Command" icon="share" color="Alert" caption="Yes, share and connect<small>Use this option for home or work</small>" outline="true" icon-right="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button metro-class="mr-1" button-style="Command" icon="share" color="Primary" caption="Yes, share and connect<small>Use this option for home or work</small>" /&gt;
            &lt;metro-button metro-class="mr-1" button-style="Command" icon="share" color="Alert" caption="Yes, share and connect<small>Use this option for home or work</small>" outline="true" icon-right="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonImage"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button metro-class="mr-1" button-style="Image" caption="Share it" icon="share" color="Primary" />
        <metro-button metro-class="mr-1" button-style="Image" caption="Share it" icon="share" color="Alert" icon-right="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button metro-class="mr-1" button-style="Image" caption="Share it" icon="share" color="Primary" /&gt;
            &lt;metro-button metro-class="mr-1" button-style="Image" caption="Share it" icon="share" color="Alert" icon-right="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonShortcut"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button metro-class="mr-1" button-style="Shortcut" caption="Rocket" icon="rocket" color="Primary" />
        <metro-button metro-class="mr-1" button-style="Shortcut" caption="Rocket" icon="rocket" color="Alert" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button metro-class="mr-1" button-style="Shortcut" caption="Rocket" icon="rocket" color="Primary" /&gt;
            &lt;metro-button metro-class="mr-1" button-style="Shortcut" caption="Rocket" icon="rocket" color="Alert" /&gt;
        </div>
    </div>

    <h4>@L["ButtonGroup"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid flex-align-center">
        <metro-button-group metro-class="mr-7">
            <metro-button>1</metro-button>
            <metro-button>2</metro-button>
                <metro-button metro-class="active">3</metro-button>
        </metro-button-group>
            <metro-button-group multi="true" active-cls="bg-red fg-white">
                <metro-button metro-class="active">1</metro-button>
            <metro-button>2</metro-button>
            <metro-button metro-class="active">3</metro-button>
        </metro-button-group>

    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button-group metro-class="mr-7"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button&gt;1&lt;/metro-button&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button&gt;2&lt;/metro-button&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button metro-class="active"&gt;3&lt;/metro-button&gt;
            &lt;/metro-button-group&gt;
            &lt;metro-button-group multi="true" active-cls="bg-red fg-white"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button metro-class="active"&gt;1&lt;/metro-button&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button&gt;2&lt;/metro-button&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button metro-class="active"&gt;3&lt;/metro-button&gt;
            &lt;/metro-button-group&gt;
        </div>
    </div>

    <h4>@L["Toolbar"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid flex-align-center">
        <metro-toolbar metro-class="w-100">
            <metro-button-group multi="true">
                <metro-button button-style="Tool" icon="bold" />
                <metro-button button-style="Tool" icon="italic" />
                <metro-button button-style="Tool" icon="underline" />
            </metro-button-group>
            <metro-toolbar-separator />
            <metro-button-group multi="true">
                <metro-button button-style="Tool" icon="sort-asc" />
                <metro-button button-style="Tool" icon="sort-desc" />
            </metro-button-group>
        </metro-toolbar>
        <metro-crud-toolbar metro-class="mt-2 w-100" edit="true">
            <metro-button icon="download" metro-class="mr-1" display-order="10201" data-action="download" />
        </metro-crud-toolbar>
        <metro-crud-toolbar metro-class="mt-2 w-100" edit="true" show-text="true">
            <metro-button icon="download" display-order="10201" text="@L["Download"].Value" metro-class="mr-1" data-action="download" />
        </metro-crud-toolbar>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-toolbar metro-class="w-100"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button-group multi="true"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button button-style="Tool" icon="bold" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button button-style="Tool" icon="italic" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button button-style="Tool" icon="underline" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-button-group&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-toolbar-separator /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button-group multi="true"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button button-style="Tool" icon="sort-asc" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button button-style="Tool" icon="sort-desc" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-button-group&gt;
            &lt;/metro-toolbar&gt;
            &lt;metro-crud-toolbar metro-class="mt-2 w-100" edit="true"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button icon="download" metro-class="mr-1" display-order="10201" data-action="download" /&gt;
            &lt;/metro-crud-toolbar&gt;
            &lt;metro-crud-toolbar metro-class="mt-2 w-100" edit="true" show-text="true"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button icon="download" display-order="10201" text="@L["Download"].Value" metro-class="mr-1" data-action="download" /&gt;
            &lt;/&lt;metro-crud-toolbar>
        </div>
    </div>


</div>
