@page
@using Generic.Abp.Demo.Localization
@using Generic.Abp.Metro.UI.TagHelpers.Button
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.ButtonsModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var buttonsText = L["Buttons"].Value;
    PageLayout.Content.Title = buttonsText;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@buttonsText" data-cls-title="bg-dark fg-white  h4 m-0">
    <h4>@L["ButtonColors"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button accent-color="Default" text="Default" class="mr-1" />
        <metro-button accent-color="Primary" text="Primary" class="mr-1" />
        <metro-button accent-color="Secondary" text="Secondary" class="mr-1" />
        <metro-button accent-color="Success" text="Success" class="mr-1" />
        <metro-button accent-color="Alert" text="Alert" class="mr-1" />
        <metro-button accent-color="Warning" text="Warning" class="mr-1" />
        <metro-button accent-color="Yellow" text="Yellow" class="mr-1" />
        <metro-button accent-color="Info" text="Info" class="mr-1" />
        <metro-button accent-color="Dark" text="Dark" class="mr-1" />
        <metro-button accent-color="Light" text="Light" class="mr-1" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button color="Default" text="Default" class="mr-1" /&gt;
            &lt;metro-button color="Primary" text="Primary" class="mr-1" /&gt;
            &lt;metro-button color="Secondary" text="Secondary" class="mr-1" /&gt;
            &lt;metro-button color="Success" text="Success" class="mr-1" /&gt;
            &lt;metro-button color="Alert" text="Alert" class="mr-1" /&gt;
            &lt;metro-button color="Warning" text="Warning" class="mr-1" /&gt;
            &lt;metro-button color="Yellow" text="Yellow" class="mr-1" /&gt;
            &lt;metro-button color="Info" text="Info" class="mr-1" /&gt;
            &lt;metro-button color="Dark" text="Dark" class="mr-1" /&gt;
            &lt;metro-button color="Light" text="Light" class="mr-1" /&gt;
        </div>
    </div>

    <h4>@L["ButtonIcon"].Value</h4>
    <div class="row p-2 border-1 bd-gray border-solid">
        <metro-button icon="checkmark" text="Check" class="mr-1" />
        <metro-button icon="users" icon-cls="fg-blue" class="mr-1" />
        <metro-button icon="user" icon-cls="fg-blue" icon-type="FontAwesome" text="FontAwesome" class="mr-1" />
        <metro-button icon="https://cdn-icons-png.flaticon.com/128/3884/3884607.png" icon-type="Image" text="Image" class="mr-1" />
    </div>
    <div class="p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button icon="checkmark" text="Check" class="mr-1"/&gt;
            &lt;metro-button icon="users" icon-cls="fg-blue" class="mr-1" /&gt;
            &lt;metro-button icon="user" icon-cls="fg-blue" icon-color="FontAwesome" text="FontAwesome" class="mr-1" /&gt;
            &lt;metro-button icon="https://cdn-icons-png.flaticon.com/128/3884/3884607.png" icon-color="Image" text="Image" class="mr-1" /&gt;
        </div>
    </div>

    <h4>@L["ButtonOutline"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button accent-color="Default" text="Default" class="mr-1" outline="true" />
        <metro-button accent-color="Primary" text="Primary" class="mr-1" outline="true" />
        <metro-button accent-color="Secondary" text="Secondary" class="mr-1" outline="true" />
        <metro-button accent-color="Success" text="Success" class="mr-1" outline="true" />
        <metro-button accent-color="Alert" text="Alert" class="mr-1" outline="true" />
        <metro-button accent-color="Warning" text="Warning" class="mr-1" outline="true" />
        <metro-button accent-color="Yellow" text="Yellow" class="mr-1" outline="true" />
        <metro-button accent-color="Info" text="Info" class="mr-1" outline="true" />
        <metro-button accent-color="Dark" text="Dark" class="mr-1" outline="true" />
        <metro-button accent-color="Light" text="Light" class="mr-1" outline="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button color="Default" text="Default" class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Primary" text="Primary" class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Secondary" text="Secondary" class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Success" text="Success" class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Alert" text="Alert" class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Warning" text="Warning" class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Yellow" text="Yellow" class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Info" text="Info" class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Dark" text="Dark" class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Light" text="Light" class="mr-1" outline="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonSizes"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid flex-align-center">
        <metro-button accent-color="Primary" text="Mini" size="Mini" class="mr-1" />
        <metro-button accent-color="Primary" text="Small" size="Small" class=" mr-1" />
        <metro-button accent-color="Primary" text="Default" class="mr-1" />
        <metro-button accent-color="Primary" text="Large" size="Large" class="mr-1" />
        <metro-button accent-color="Primary" text="Mini" size="Mini" class="mr-1" outline="true" />
        <metro-button accent-color="Primary" text="Small" size="Small" class="mr-1" outline="true" />
        <metro-button accent-color="Primary" text="Default" class="mr-1" outline="true" />
        <metro-button accent-color="Primary" text="Large" size="Large" class="mr-1" outline="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button color="Primary" text="Mini" size="Mini" class="mr-1" /&gt;
            &lt;metro-button color="Primary" text="Small" size="Small" class=" mr-1" /&gt;
            &lt;metro-button color="Primary" text="Default"  class="mr-1"  /&gt;
            &lt;metro-button color="Primary" text="Large" size="Large" class="mr-1"  /&gt;
            &lt;metro-button color="Primary" text="Mini" size="Mini" class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Primary" text="Small" size="Small" class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Primary" text="Default" class="mr-1" outline="true" /&gt;
            &lt;metro-button color="Primary" text="Large" size="Large" class="mr-1" outline="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonRoundedCorners"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid flex-align-center">
        <metro-button accent-color="Primary" text="Mini" size="Mini" class="mr-1" rounded="true" />
        <metro-button accent-color="Primary" text="Small" size="Small" class=" mr-1" rounded="true" />
        <metro-button accent-color="Primary" text="Default" class="mr-1" rounded="true" />
        <metro-button accent-color="Primary" text="Large" size="Large" class="mr-1" rounded="true" />
        <metro-button accent-color="Primary" text="Mini" size="Mini" class="mr-1" outline="true" rounded="true" />
        <metro-button accent-color="Primary" text="Small" size="Small" class="mr-1" outline="true" rounded="true" />
        <metro-button accent-color="Primary" text="Default" class="mr-1" outline="true" rounded="true" />
        <metro-button accent-color="Primary" text="Large" size="Large" class="mr-1" outline="true" rounded="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button color="Primary" text="Mini" size="Mini" class="mr-1" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Small" size="Small" class=" mr-1" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Default"  class="mr-1" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Large" size="Large" class="mr-1" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Mini" size="Mini" class="mr-1" outline="true" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Small" size="Small" class="mr-1" outline="true" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Default" class="mr-1" outline="true" rounded="true" /&gt;
            &lt;metro-button color="Primary" text="Large" size="Large" class="mr-1" outline="true" rounded="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonSquareAndCycle"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid flex-align-center">
        <metro-button accent-color="Primary" size="Mini" class="mr-1" shape="Square" icon="play" />
        <metro-button accent-color="Primary" size="Small" class=" mr-1" shape="Square" icon="play" />
        <metro-button accent-color="Primary" class="mr-1" shape="Square" icon="play" />
        <metro-button accent-color="Primary" size="Large" class="mr-1" shape="Square" icon="play" />
        <metro-button accent-color="Primary" size="Mini" class="mr-1" shape="Cycle" icon="play" />
        <metro-button accent-color="Primary" size="Small" class="mr-1" shape="Cycle" icon="play" />
        <metro-button accent-color="Primary" class="mr-1" shape="Cycle" icon="play" />
        <metro-button accent-color="Primary" size="Large" class="mr-1" shape="Cycle" icon="play" />
        <metro-button accent-color="Primary" size="Mini" class="mr-1" shape="Square" icon="play" outline="true" />
        <metro-button accent-color="Primary" size="Small" class=" mr-1" shape="Square" icon="play" outline="true" />
        <metro-button accent-color="Primary" class="mr-1" shape="Square" icon="play" outline="true" />
        <metro-button accent-color="Primary" size="Large" class="mr-1" shape="Square" icon="play" outline="true" />
        <metro-button accent-color="Primary" size="Mini" class="mr-1" shape="Cycle" icon="play" outline="true" />
        <metro-button accent-color="Primary" size="Small" class="mr-1" shape="Cycle" icon="play" outline="true" />
        <metro-button accent-color="Primary" class="mr-1" shape="Cycle" icon="play" outline="true" />
        <metro-button accent-color="Primary" size="Large" class="mr-1" shape="Cycle" icon="play" outline="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button color="Primary" size="Mini" class="mr-1" shape="Square" icon="play" /&gt;
            &lt;metro-button color="Primary" size="Small" class=" mr-1" shape="Square" icon="play" /&gt;
            &lt;metro-button color="Primary" class="mr-1" shape="Square" icon="play" /&gt;
            &lt;metro-button color="Primary" size="Large" class="mr-1" shape="Square" icon="play" /&gt;
            &lt;metro-button color="Primary" size="Mini" class="mr-1" shape="Cycle" icon="play" /&gt;
            &lt;metro-button color="Primary" size="Small" class="mr-1" shape="Cycle" icon="play" /&gt;
            &lt;metro-button color="Primary" class="mr-1" shape="Cycle" icon="play" /&gt;
            &lt;metro-button color="Primary" size="Large" class="mr-1" shape="Cycle" icon="play" /&gt;
            &lt;metro-button color="Primary" size="Mini" class="mr-1" shape="Square" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" size="Small" class=" mr-1" shape="Square" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" class="mr-1" shape="Square" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" size="Large" class="mr-1" shape="Square" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" size="Mini" class="mr-1" shape="Cycle" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" size="Small" class="mr-1" shape="Cycle" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" class="mr-1" shape="Cycle" icon="play" outline="true" /&gt;
            &lt;metro-button color="Primary" size="Large" class="mr-1" shape="Cycle" icon="play" outline="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonShadowed"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button accent-color="Default" text="Default" class="mr-1" shadowed="true" />
        <metro-button accent-color="Primary" text="Primary" class="mr-1" shadowed="true" />
        <metro-button accent-color="Secondary" text="Secondary" class="mr-1" shadowed="true" />
        <metro-button accent-color="Success" text="Success" class="mr-1" shadowed="true" />
        <metro-button accent-color="Alert" text="Alert" class="mr-1" shadowed="true" />
        <metro-button accent-color="Warning" text="Warning" class="mr-1" shadowed="true" />
        <metro-button accent-color="Yellow" text="Yellow" class="mr-1" shadowed="true" />
        <metro-button accent-color="Info" text="Info" class="mr-1" shadowed="true" />
        <metro-button accent-color="Dark" text="Dark" class="mr-1" shadowed="true" />
        <metro-button accent-color="Light" text="Light" class="mr-1" shadowed="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button color="Default" text="Default" class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Primary" text="Primary" class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Secondary" text="Secondary" class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Success" text="Success" class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Alert" text="Alert" class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Warning" text="Warning" class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Yellow" text="Yellow" class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Info" text="Info" class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Dark" text="Dark" class="mr-1" shadowed="true" /&gt;
            &lt;metro-button color="Light" text="Light" class="mr-1" shadowed="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonFlat"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button class="mr-1" button-style="Flat" text="@L["ButtonFlat"].Value" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button class="mr-1" button-style="Flat" text="@L["ButtonFlat"].Value" /&gt;
        </div>
    </div>

    <h4>@L["ButtonCommand"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button class="mr-1" button-style="Command" icon="share" accent-color="Primary" caption="Yes, share and connect<small>Use this option for home or work</small>" />
        <metro-button class="mr-1" button-style="Command" icon="share" accent-color="Alert" caption="Yes, share and connect<small>Use this option for home or work</small>" outline="true" icon-right="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button class="mr-1" button-style="Command" icon="share" color="Primary" caption="Yes, share and connect<small>Use this option for home or work</small>" /&gt;
            &lt;metro-button class="mr-1" button-style="Command" icon="share" color="Alert" caption="Yes, share and connect<small>Use this option for home or work</small>" outline="true" icon-right="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonImage"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button class="mr-1" button-style="Image" caption="Share it" icon="share" accent-color="Primary" />
        <metro-button class="mr-1" button-style="Image" caption="Share it" icon="share" accent-color="Alert" icon-right="true" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button class="mr-1" button-style="Image" caption="Share it" icon="share" color="Primary" /&gt;
            &lt;metro-button class="mr-1" button-style="Image" caption="Share it" icon="share" color="Alert" icon-right="true" /&gt;
        </div>
    </div>

    <h4>@L["ButtonShortcut"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid">
        <metro-button class="mr-1" button-style="Shortcut" caption="Rocket" icon="rocket" accent-color="Primary" />
        <metro-button class="mr-1" button-style="Shortcut" caption="Rocket" icon="rocket" accent-color="Alert" />
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button class="mr-1" button-style="Shortcut" caption="Rocket" icon="rocket" color="Primary" /&gt;
            &lt;metro-button class="mr-1" button-style="Shortcut" caption="Rocket" icon="rocket" color="Alert" /&gt;
        </div>
    </div>

    <h4>@L["ButtonGroup"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid flex-align-center">
        <metro-button-group class="mr-7">
            <metro-button>1</metro-button>
            <metro-button>2</metro-button>
                <metro-button class="active">3</metro-button>
        </metro-button-group>
            <metro-button-group multi="true" active-cls="bg-red fg-white">
                <metro-button class="active">1</metro-button>
            <metro-button>2</metro-button>
            <metro-button class="active">3</metro-button>
        </metro-button-group>

    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-button-group class="mr-7"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button&gt;1&lt;/metro-button&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button&gt;2&lt;/metro-button&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button class="active"&gt;3&lt;/metro-button&gt;
            &lt;/metro-button-group&gt;
            &lt;metro-button-group multi="true" active-cls="bg-red fg-white"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button class="active"&gt;1&lt;/metro-button&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button&gt;2&lt;/metro-button&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button class="active"&gt;3&lt;/metro-button&gt;
            &lt;/metro-button-group&gt;
        </div>
    </div>

    <h4>@L["Toolbar"].Value</h4>
    <div class="row  p-2 border-1 bd-gray border-solid flex-align-center">
        <metro-toolbar class="w-100">
            <metro-button-group multi="true">
                <metro-button button-style="Tool" icon="bold" />
                <metro-button button-style="Tool" icon="italic" />
                <metro-button button-style="Tool" icon="underline" />
            </metro-button-group>
            <metro-toolbar-separator />
            <metro-button-group multi="true">
                <metro-button button-style="Tool" icon="sort-asc" />
                <metro-button button-style="Tool" icon="sort-desc" />
            </metro-button-group>
        </metro-toolbar>
        <div class="w-100 mt-1" data-role="crud-toolbar"></div>
        <div class="w-100 mt-1" data-role="crud-toolbar" data-no-edit="false" data-no-new="true" data-custom-buttons='[["New","fa fa-plus","info",10000,true],["Download","mif-download","info",10201]]'>
        </div>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-toolbar class="w-100"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button-group multi="true"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button button-style="Tool" icon="bold" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button button-style="Tool" icon="italic" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button button-style="Tool" icon="underline" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-button-group&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-toolbar-separator /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button-group multi="true"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button button-style="Tool" icon="sort-asc" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-button button-style="Tool" icon="sort-desc" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-button-group&gt;
            &lt;/metro-toolbar&gt;
            &lt;div class="w-100 mt-1" data-role="crud-toolbar" &gt;&lt;/div&gt;
            &lt;div class="w-100 mt-1" data-role="crud-toolbar" data-no-edit="false" data-no-new="true" data-custom-buttons='[["New","fa fa-plus","info",10000,true],["Download","mif-download","info",10201]]'&gt;
            &lt;/div&gt;
        </div>

    </div>
    <h4>Crud toolbar attributes</h4>
    <table class="table cell-border table-border options-table mt-4">
        <thead>
        <tr>
            <th>Option</th>
            <th>Data-*</th>
            <th>Default</th>
            <th>Desc</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>noRefresh</code></td>
                <td><code>data-no-refresh</code></td>
                <td>false</td>
                <td>Whether to create a refresh button.The default value of false means create.</td>
            </tr>
            <tr>
                <td><code>noNew</code></td>
                <td><code>data-no-new</code></td>
                <td>false</td>
                <td>Whether to create a new button.The default value of false means create.</td>
            </tr>
            <tr>
                <td><code>noEdit</code></td>
                <td><code>data-no-edit</code></td>
                <td>true</td>
                <td>Whether to create a edit button.The default value of true means not to create.</td>
            </tr>
            <tr>
                <td><code>noDelete</code></td>
                <td><code>data-no-delete</code></td>
                <td>false</td>
                <td>Whether to create a delete button.The default value of false means create.</td>
            </tr>
            <tr>
                <td><code>noText</code></td>
                <td><code>data-no-text</code></td>
                <td>false</td>
                <td>Whether to display button text. The default value of false indicates display.</td>
            </tr>
            <tr>
                <td><code>permissionPrefix</code></td>
                <td><code>data-permission-prefix</code></td>
                <td></td>
                <td>Permission prefix for the button, e.g. 'AbpIdentity.Users.Update', then 'AbpIdentity.Users'.You can also define the button permission as the full name of the permission without setting the prefix, such as 'AbpIdentity.Users.Update'.</td>
            </tr>
            <tr>
                <td><code>refreshPermission</code></td>
                <td><code>data-refresh-permission</code></td>
                <td></td>
                <td>Permissions for the refresh button.If empty, permissions are not required.</td>
            </tr>
            <tr>
                <td><code>newPermission</code></td>
                <td><code>data-new-permission</code></td>
                <td>Create</td>
                <td>Permissions for the new button.If empty, permissions are not required.</td>
            </tr>
            <tr>
                <td><code>editPermission</code></td>
                <td><code>data-edit-permission</code></td>
                <td>Update</td>
                <td>Permissions for the edit button.If empty, permissions are not required.</td>
            </tr>
            <tr>
                <td><code>deletePermission</code></td>
                <td><code>data-delete-permission</code></td>
                <td>Delete</td>
                <td>Permissions for the delete button.If empty, permissions are not required.</td>
            </tr>
            <tr>
                <td><code>customButtons</code></td>
                <td><code>data-custom-buttons</code></td>
                <td></td>
                <td>Custom button with an array of values. Buttons are defined as arrays, followed by the button's text, icon, color, display order, whether to display text, and permissions, as in the example [["New","fa fa-plus","info",10000,true],["Download","mif-download","info",10201]]</td>
            </tr>
            <tr>
                <td><code>onButtonClick</code></td>
                <td><code>data-on-button-click</code></td>
                <td>onCrudToolbarButtonClick</td>
                <td>The name of the function to execute after the toolbar button is clicked.The function returns the three parameters of the button, action, and toolbar.</td>
            </tr>
        
        </tbody>
    </table>

</div>
