@page
@using Generic.Abp.Demo.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.FormModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var text = L["Form"].Value;
    PageLayout.Content.Title = text;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@text" data-cls-title="bg-dark fg-white  h4 m-0">
    <div class="row w-100 p-2 border-1 bd-gray border-solid">
        <form border="LRTB" border-style="Solid" class="p-1 cell-6">
            <metro-input asp-for="@Model.Base.Name"/>
            <metro-input asp-for="@Model.Base.Age"/>
            <metro-input asp-for="@Model.Base.Password"/>
        </form>
        <form border="LRTB" border-style="Solid" class="p-1 cell-6">
            <metro-form-content horizontal="true" cols="1">
                <metro-input asp-for="@Model.Base.Name"/>
                <metro-input asp-for="@Model.Base.Age"/>
                <metro-input asp-for="@Model.Base.Password" />
            </metro-form-content>
        </form>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;form border="LRTB" border-style="Solid" class="p-1 cell-6"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Name"/&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Age"/&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Password"/&gt;
            &lt;/form&gt;
            &lt;form border="LRTB" border-style="Solid" class="p-1 cell-6"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Name"/&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Age"/&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Password"/&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
        </div>
    </div>
    
    <h4>Horizontal columns</h4>
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <form border="LRTB" border-style="Solid" class="m-1">
            <metro-form-content horizontal="true" cols="2">
                <metro-input asp-for="@Model.Base.Name" />
                <metro-input asp-for="@Model.Base.Age" />
                <metro-input asp-for="@Model.Base.Password" />
                <metro-input asp-for="@Model.Base.PhoneNumber" />
            </metro-form-content>
        </form>
        <form border="LRTB" border-style="Solid" class="m-1">
            <metro-form-content horizontal="true" cols="3">
                <metro-input asp-for="@Model.Base.Name" />
                <metro-input asp-for="@Model.Base.Age" />
                <metro-input asp-for="@Model.Base.Password" />
                <metro-input asp-for="@Model.Base.PhoneNumber" />
            </metro-form-content>
        </form>
        <form border="LRTB" border-style="Solid" class="m-1">
            <metro-form-content horizontal="true" cols="4">
                <metro-input asp-for="@Model.Base.Name" />
                <metro-input asp-for="@Model.Base.Age" />
                <metro-input asp-for="@Model.Base.Password" />
                <metro-input asp-for="@Model.Base.PhoneNumber" />
            </metro-form-content>
        </form>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;form border="LRTB" border-style="Solid" class="m-1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="2"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Name" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Age" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Password" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.PhoneNumber" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
            &lt;form border="LRTB" border-style="Solid" class="m-1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="3"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Name" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Age" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Password" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.PhoneNumber" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
            &lt;form border="LRTB" border-style="Solid" class="m-1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="4"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Name" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Age" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Password" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.PhoneNumber" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
        </div>
    </div>

    <h4>Size</h4>
    <div class="row w-100 p-2 border-1 bd-gray border-solid">
        <form border="LRTB" border-style="Solid" class="m-1 cell-3">
            <metro-form-content horizontal="true" cols="1" size="Small">
                <metro-input asp-for="@Model.Base.Name" />
            </metro-form-content>
        </form>
        <form border="LRTB" border-style="Solid" class="m-1 cell-3">
            <metro-form-content horizontal="true" cols="1">
                <metro-input asp-for="@Model.Base.Name" />
            </metro-form-content>
        </form>
        <form border="LRTB" border-style="Solid" class="m-1 cell-3">
            <metro-form-content horizontal="true" cols="1" size="Large">
                <metro-input asp-for="@Model.Base.Name" />
            </metro-form-content>
        </form>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;form border="LRTB" border-style="Solid" class="m-1 cell-3"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="1" size="Small"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Name" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
            &lt;form border="LRTB" border-style="Solid" class="m-1 cell-3"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="1"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Name" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
            &lt;form border="LRTB" border-style="Solid" class="m-1 cell-3"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-form-content horizontal="true" cols="1" size="Large"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Name" /&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/metro-form-content&gt;
            &lt;/form&gt;
        </div>
    </div>
    
    <h4>Prepend and append</h4>
    <div class="row w-100 p-2 border-1 bd-gray border-solid">
        <form border="LRTB" border-style="Solid" class="m-1 p-1 cell-3">
            <metro-input asp-for="@Model.Base.Name" no-label="true" prepend="Name" append="%" />
        </form>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;form border="LRTB" border-style="Solid" class="m-1 p-1 cell-3"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Name" no-label="true" prepend="Name" append="%" /&gt;
            &lt;/form&gt;
        </div>
    </div>

    <h4>Dynamic</h4>
    <div class="row w-100 p-2 border-1 bd-gray border-solid">
        <form border="LRTB" border-style="Solid" class="p-1">
            <metro-form-content metro-model="Base">
                <metro-input asp-for="@Model.Base.Name" no-label="true" prepend="Name" append="%" display-order="10202" />
            </metro-form-content>
        </form>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;form border="LRTB" border-style="Solid" class="m-1 p-1 cell-3"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-input asp-for="@@Model.Base.Name" no-label="true" prepend="Name" append="%" /&gt;
            &lt;/form&gt;
        </div>
    </div>

</div>