@using Generic.Abp.Demo.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Generic.Abp.Metro.UI.Bundling.TagHelpers
@using Generic.Abp.Metro.UI.TagHelpers.NavigationView
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@inject IThemeManager ThemeManager
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DemoResource> L
@{
    Layout = ThemeManager.CurrentTheme.GetPublicLayout();
    var pageTitle = PageLayout.Content.Title;
    PageLayout.Content.Title = string.IsNullOrWhiteSpace(pageTitle) ? $"{L["TagHelpers"].Value}" : $"{L["TagHelpers"].Value} {pageTitle}";
    var path = ViewContext.View.Path.Replace("/Pages/TagHelpers/", "");
    path = path.Replace(".cshtml", "");
}
@section styles{
    <metro-style-bundle>
        <metro-style src="/Pages/TagHelpers/index.css" />
        <metro-style src="/Pages/TagHelpers/prism.css" />
    </metro-style-bundle>
}

@section scripts{
    <metro-script-bundle>
        <metro-script src="/Pages/TagHelpers/prism.js" />
        <metro-script src="/Pages/TagHelpers/index.js" />
    </metro-script-bundle>

}
<div style="height: 100vh;">
    <metro-nav-view>
        <metro-nav-panel>
            <metro-nav-menu class="px-1" id="NavViewMenu" current="@path">
                <metro-nav-menu-item text="@L["Menu:Home"].Value" icon="mif-home" href="/" />
                <metro-nav-menu-separator />
                <metro-nav-menu-header header="@L["TagHelpers"].Value" />
                <metro-nav-menu-item text="@L["About"].Value" href="/TagHelpers" value="Index" />
                <metro-nav-menu-item text="@L["Accordion"].Value" href="/TagHelpers/Accordion" value="Accordion" />
                <metro-nav-menu-item text="@L["Badge"].Value" href="/TagHelpers/Badge" value="Badge" />
                <metro-nav-menu-item text="@L["Breadcrumb"].Value" href="/TagHelpers/Breadcrumb" value="Breadcrumb" />
                <metro-nav-menu-item text="@L["Borders"].Value" href="/TagHelpers/Borders" value="Borders" />
                <metro-nav-menu-item text="@L["Buttons"].Value" href="/TagHelpers/Buttons" value="Buttons" />
                <metro-nav-menu-item text="@L["Cards"].Value" href="/TagHelpers/Cards" value="Cards" />
                <metro-nav-menu-item text="@L["Carousel"].Value" href="/TagHelpers/Carousel" value="Carousel" />
                <metro-nav-menu-item text="@L["Dropdown"].Value" href="/TagHelpers/Dropdown" value="Dropdown" />
                <metro-nav-menu-item text="@L["Figures"].Value" href="/TagHelpers/Figures" value="Figures" />
                <metro-nav-menu-item text="@L["Form"].Value" href="/TagHelpers/Form" value="Form" />
                <metro-nav-menu-item text="@L["Grid"].Value" href="/TagHelpers/Grid" value="Grid" />
                <metro-nav-menu-item text="@L["Hints"].Value" href="/TagHelpers/Hints" value="Hints" />
                <metro-nav-menu-item text="@L["ListGroup"].Value" href="/TagHelpers/ListGroup" value="ListGroup" />
                <metro-nav-menu-item text="@L["Menu"].Value" href="/TagHelpers/Menu" value="Menu" />
                <metro-nav-menu-item text="@L["Modal"].Value" href="/TagHelpers/Modal" value="Modal" />
                <metro-nav-menu-item text="@L["NavigationView"].Value" href="/TagHelpers/NavigationView" value="NavigationView" />
                <metro-nav-menu-item text="@L["Pagination"].Value" href="/TagHelpers/Pagination" value="Pagination" />
                <metro-nav-menu-item text="@L["Popover"].Value" href="/TagHelpers/Popover" value="Popover" />
                <metro-nav-menu-item text="@L["Progress"].Value" href="/TagHelpers/Progress" value="Progress" />
                <metro-nav-menu-item text="@L["SideNavigation"].Value" href="/TagHelpers/SideNavigation" value="SideNavigation" />
                <metro-nav-menu-item text="@L["Tabs"].Value" href="/TagHelpers/Tabs" value="Tabs" />
            </metro-nav-menu>
        </metro-nav-panel>

        <metro-nav-content>
            @RenderBody()
        </metro-nav-content>
    </metro-nav-view>

</div>


