@using Generic.Abp.Demo.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Generic.Abp.Metro.UI.Bundling.TagHelpers
@using Generic.Abp.Metro.UI.TagHelpers.NavigationView
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@inject IThemeManager ThemeManager
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DemoResource> L
@{
    Layout = ThemeManager.CurrentTheme.GetPublicLayout();
    var pageTitle = PageLayout.Content.Title;
    PageLayout.Content.Title = string.IsNullOrWhiteSpace(pageTitle) ? $"{L["TagHelpers"].Value}" : $"{L["TagHelpers"].Value} {pageTitle}";
    var path = ViewContext.View.Path.Replace("/Pages/TagHelpers/", "");
    path = path.Replace(".cshtml", "");
}
@section styles{
    <metro-style-bundle>
        <metro-style src="/Pages/TagHelpers/index.css" />
        <metro-style src="/Pages/TagHelpers/prism.css" />
    </metro-style-bundle>
}

@section scripts{
    <metro-script-bundle>
        <metro-script src="/Pages/TagHelpers/prism.js" />
        <metro-script src="/Pages/TagHelpers/index.js" />
    </metro-script-bundle>

}
<div style="height: 100vh;">
    <metro-navigation-view>
        <metro-navigation-panel pull-button="true" suggest-box="true">

            <metro-navigation-menu class="px-1" id="NavViewMenu" current-value="@path">
                <metro-navigation-menu-item text="@L["Menu:Home"].Value" icon="mif-home" url="/" />
                <metro-navigation-menu-item type="Separator" />
                <metro-navigation-menu-item type="Header" text="@L["TagHelpers"].Value" />
                <metro-navigation-menu-item text="@L["About"].Value" url="./" value="Index" />
                <metro-navigation-menu-item text="@L["Accordion"].Value" url="./Accordion" value="Accordion" />
                <metro-navigation-menu-item text="@L["Badge"].Value" url="./Badge" value="Badge" />
                <metro-navigation-menu-item text="@L["Breadcrumb"].Value" url="./Breadcrumb" value="Breadcrumb" />
                <metro-navigation-menu-item text="@L["Borders"].Value" url="./Borders" value="Borders" />
                <metro-navigation-menu-item text="@L["Buttons"].Value" url="./Buttons" value="Buttons" />
                <metro-navigation-menu-item text="@L["Cards"].Value" url="./Cards" value="Cards" />
                <metro-navigation-menu-item text="@L["Carousel"].Value" url="./Carousel" value="Carousel" />
                <metro-navigation-menu-item text="@L["Dropdown"].Value" url="./Dropdown" value="Dropdown" />
                <metro-navigation-menu-item text="@L["Figures"].Value" url="./Figures" value="Figures" />
                <metro-navigation-menu-item text="@L["Grid"].Value" url="./Grid" value="Grid" />
                <metro-navigation-menu-item text="@L["Hints"].Value" url="./Hints" value="Hints" />
                <metro-navigation-menu-item text="@L["ListGroup"].Value" url="./ListGroup" value="ListGroup" />
                <metro-navigation-menu-item text="@L["Menu"].Value" url="./Menu" value="Menu" />
                <metro-navigation-menu-item text="@L["NavigationView"].Value" url="./NavigationView" value="NavigationView" />
                <metro-navigation-menu-item text="@L["Pagination"].Value" url="./Pagination" value="Pagination" />
                <metro-navigation-menu-item text="@L["Tabs"].Value" url="./Tabs" value="Tabs" />
            </metro-navigation-menu>
        </metro-navigation-panel>

        <metro-navigation-view-content>
            @RenderBody()
        </metro-navigation-view-content>
    </metro-navigation-view>

</div>


