@page
@inject IHtmlLocalizer<TailWindCssAccountWebResource> L
@inject IHtmlLocalizer<IdentityResource> LI
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Identity.Localization
@using Generic.Abp.TailWindCss.Account.Web.Localization
@model Generic.Abp.TailWindCss.Account.Web.Pages.Account.ResetPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
<h2 class="card-title">@L["ResetPassword"]</h2>
@if (Model.InvalidToken)
{
    <p class="text-sm text-error mb-4">@LI["Volo.Abp.Identity:InvalidToken"]</p>
}
else
{
    <p class="text-sm text-secondary mb-4">@L["ResetPassword_Information"]</p>
    <form method="post">
        <input asp-for="UserId" />
        <input asp-for="ResetToken" />
        <input asp-for="Password" data-role="input" autocomplete="new-password" iconCls="fas fa-key text-info" placeholder="@L["Password"]" />
        <input asp-for="ConfirmPassword" data-role="input" autocomplete="confirm-password" iconCls="fas fa-key text-info" placeholder="@L["ConfirmPassword"]" />
        <button type="submit" class="btn btn-primary w-full text-white text-lg mt-4">@L["Submit"]</button>
    </form>
}
