@using Volo.Abp.AspNetCore.Mvc.UI.Components.LayoutHook
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Abp.Localization
@using Volo.Abp.Ui.Branding
@using Volo.Abp.Ui.LayoutHooks
@using Generic.Abp.Metro.UI.Theme.Basic.Bundling
@using Generic.Abp.Metro.UI.Theme.Basic.Themes.Basic.Components.MetroMeta
@using Generic.Abp.Metro.UI.Theme.Basic.Themes.Basic.Components.PageAlerts
@using Generic.Abp.Metro.UI.Widgets.Components.WidgetScripts
@using Generic.Abp.Metro.UI.Widgets.Components.WidgetStyles
@using Generic.Abp.Metro.UI.Bundling.TagHelpers
@using Generic.Abp.Metro.UI.Theme.Basic.Themes.Basic.Components.ContentTitle
@using Generic.Abp.Metro.UI.Theme.Basic.Themes.Basic.Components.MainNavbar
@inject IBrandingProvider BrandingProvider
@inject IPageLayout PageLayout
@{
    Layout = null;

    var pageTitle = ViewBag.Title == null ? BrandingProvider.AppName : ViewBag.Title; //TODO: Discard to get from Title

    if (PageLayout.Content.Title != null)
    {
        if (!string.IsNullOrWhiteSpace(pageTitle))
        {
            pageTitle = " | " + pageTitle;
        }

        pageTitle = PageLayout.Content.Title + pageTitle;
    }

    var rtl = CultureHelper.IsRtl ? "rtl" : string.Empty;
}

<!DOCTYPE html>

<html lang="@CultureInfo.CurrentCulture.Name" dir="@rtl">
<head>
    @await Component.InvokeLayoutHookAsync(LayoutHooks.Head.First, StandardLayouts.Empty)

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @(await Component.InvokeAsync<MetroMetaViewComponent>())

    <title>@pageTitle</title>
    <metro-style-bundle name="@BasicThemeBundles.Styles.Global" />

    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
    }

    @await Component.InvokeAsync(typeof(WidgetStylesViewComponent))

    @await RenderSectionAsync("styles", false)

    @await Component.InvokeLayoutHookAsync(LayoutHooks.Head.Last, StandardLayouts.Empty)
</head>
<body class="abp-empty-layout @rtl">
    @await Component.InvokeLayoutHookAsync(LayoutHooks.Body.First, StandardLayouts.Empty)

    @await Component.InvokeLayoutHookAsync(LayoutHooks.PageContent.First, StandardLayouts.Application)
    @RenderBody()
    @await Component.InvokeLayoutHookAsync(LayoutHooks.PageContent.Last, StandardLayouts.Application)


    <metro-script-bundle name="@BasicThemeBundles.Scripts.Global" />

    <script src="~/metro/ApplicationLocalizationScript?cultureName=@CultureInfo.CurrentUICulture.Name"></script>
    <script src="~/metro/ApplicationConfigurationScript"></script>
    <script src="~/metro/ServiceProxyScript?type=metro"></script>

    @await RenderSectionAsync("scripts", false)

    @await Component.InvokeAsync(typeof(WidgetScriptsViewComponent))

    @await Component.InvokeLayoutHookAsync(LayoutHooks.Body.Last, StandardLayouts.Empty)
</body>
</html>
