@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.IdentityServer.Localization
@model Generic.Abp.IdentityServer.Web.Pages.IdentityServer.ApiResources.CreateApiResourceSecretModalModel
@inject IHtmlLocalizer<AbpIdentityServerResource> _l
@{
    Layout = null;
}

<form method="post" asp-page="/IdentityServer/ApiResources/CreateApiResourceSecretModal">
    <abp-modal>
        <abp-modal-header title="@_l["NewSecret"].Value"></abp-modal-header>
        <abp-modal-body>
            <input type="hidden" asp-for="ApiResourceSecret.ForeignKeyId" />
            <abp-select asp-for="ApiResourceSecret.Type" asp-items="@Model.SecretTypes" label="@_l["Secrets:Type"].Value" />
            <abp-input asp-for="ApiResourceSecret.Description" label="@_l["Secrets:Description"].Value" />
            <abp-input asp-for="ApiResourceSecret.Value" label="@_l["Secrets:Value"].Value" />
            <abp-input asp-for="ApiResourceSecret.Expiration" label="@_l["Secrets:Expiration"].Value" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>


