@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.IdentityServer.Localization
@model Generic.Abp.IdentityServer.Web.Pages.IdentityServer.ApiScopes.EditModalModel
@inject IHtmlLocalizer<AbpIdentityServerResource> _l
@{
    Layout = null;
}
<form method="post" asp-page="/IdentityServer/ApiScopes/EditModal">
    <abp-modal>
        <abp-modal-header title="@_l["Edit"].Value"></abp-modal-header>
        <abp-modal-body>
            <input type="hidden" asp-for="ApiScope.Id"/>
            <input type="hidden" asp-for="ApiScope.ConcurrencyStamp" />
            <abp-input asp-for="ApiScope.Name" label="@_l["ApiResource:Name"].Value" />
            <abp-input asp-for="ApiScope.DisplayName" label="@_l["ApiResource:DisplayName"].Value" />
            <abp-input asp-for="ApiScope.Description" label="@_l["ApiResource:Description"].Value" />
            <abp-input asp-for="ApiScope.Enabled" label="@_l["ApiScope:Enabled"].Value" />
            <abp-input asp-for="ApiScope.Required" label="@_l["ApiScope:Required"].Value" />
            <abp-input asp-for="ApiScope.Emphasize" label="@_l["ApiScope:Emphasize"].Value" />
            <abp-input asp-for="ApiScope.ShowInDiscoveryDocument" label="@_l["ApiScope:ShowInDiscoveryDocument"].Value" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
