@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Generic.Abp.Metro.UI.MultiTenancy.Localization;
@using Generic.Abp.Metro.UI.TagHelpers.Dialog
@using Generic.Abp.Metro.UI.TagHelpers.Form
@model Pages.Abp.MultiTenancy.TenantSwitchModalModel
@inject IHtmlLocalizer<MetroUiMultiTenancyResource> L
@{
    Layout = null;
}
@*<metro-dynamic-form metro-model="@Model.Input" asp-page="/Abp/MultiTenancy/TenantSwitchModal">*@
<metro-dialog title=""  >
    <form data-role="validator" asp-page="/Abp/MultiTenancy/TenantSwitchModal">
    <metro-dialog-title title="@L["SwitchTenant"].Value"></metro-dialog-title>
    <metro-dialog-content>
            <metro-form-content cols="2" a>
                <metro-input asp-for="@Model.Input.Name" label="@L["TenantName"].Value" required-symbol="true"/>
                <metro-input label="2" />
        </metro-form-content>
    </metro-dialog-content>
    <metro-dialog-footer buttons="@(MetroDialogButtons.Submit|MetroDialogButtons.Cancel)"></metro-dialog-footer>
    </form>
</metro-dialog>
@*</metro-dynamic-form>*@
