@page
@inject IHtmlLocalizer<AccountResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Generic.Abp.Metro.UI.TagHelpers.Form
@model Generic.Abp.Metro.UI.Account.Web.Pages.Account.ForgotPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
<div class="card mt-3 rounded">
    <div class=" p-5">
        <h4>@L["ForgotPassword"]</h4>
        <form method="post" class="mt-4">
            <p>@L["SendPasswordResetLink_Information"]</p>
            <metro-input asp-for="Email" size="InputSize.Large" prepend="<span class='fa fa-at'></span>" no-label="true" class="mt-2" placeholder="@L["EmailAddress"]" auto-complete="false" />
            <div class="my-2">
                <button class="button primary w-100 large" type="submit">@L["Submit"]</button>
            </div>
            <a  asp-page="./Login" asp-all-route-data="@(new Dictionary<string, string> {{"returnUrl", Model.ReturnUrl}, {"returnUrlHash", Model.ReturnUrlHash}})">
                <i class="fa fa-long-arrow-left"></i> @L["Login"]
            </a>
        </form>
    </div>
</div>
