@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.Identity;
@using Volo.Abp.Settings
@using Generic.Abp.Metro.UI.Account.Web.Pages.Account
@using Generic.Abp.Metro.UI.TagHelpers.Form
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@model Generic.Abp.Metro.UI.Account.Web.Pages.Account.LoginModel
@inject IHtmlLocalizer<AccountResource> L
@inject IThemeManager ThemeManager
@inject ISettingProvider SettingProvider

@{
    Layout = ThemeManager.CurrentTheme.GetAccountLayout();
}

<div class="card mt-3  rounded">
    <div class="p-5">

        <h4>@L["Login"]</h4>
        @if (Model.EnableLocalLogin)
        {
            <form method="post" class="mt-4" data-role="validator">
                <metro-input asp-for="LoginInput.UserNameOrEmailAddress" prepend="<span class='mif-user'></span>" size="InputSize.Large" no-label="true" />
                <metro-input asp-for="LoginInput.Password" type="password" prepend="<span class='mif-key'></span>" size="InputSize.Large" no-label="true" class="mt-2" />
                <div class="row">
                    <div class="col-6 " style="line-height: 36px;">
                        <metro-input asp-for="LoginInput.RememberMe" type="checkbox" size="InputSize.Large" label="@L["RememberMe"].Value"/>
                    </div>
                    <div class="col-6 text-right" style="line-height: 36px;">
                        <a href="@Url.Page("./ForgotPassword", new { returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash })">@L["ForgotPassword"]</a>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" name="Action" value="Login" class="button primary large mt-2 w-100">@L["Login"]</button>
                </div>
            </form>
        }
        
        @if (Model.Errors != null)
        {
            @foreach (var alertMessage in Model.Errors)
            {
                <div class="my-4 fg-red text-center w-100 text-bold">
                    @alertMessage.Text
                </div>
            }
        }


        @if (await SettingProvider.IsTrueAsync(AccountSettingNames.IsSelfRegistrationEnabled))
        {
            <div class="mt-2 text-bold">
                @L["AreYouANewUser"]
                <a href="@Url.Page("./Register", new { returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash })">@L["Register"]</a>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="mt-2">
                <h5>@L["OrLoginWith"]</h5>
                <form asp-page="./Login" asp-page-handler="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" asp-route-returnUrlHash="@Model.ReturnUrlHash" method="post">
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
                        <button type="submit" class="button primary m-1" name="provider" value="@provider.AuthenticationScheme" title="@L["LogInUsingYourProviderAccount", provider.DisplayName]">@provider.DisplayName</button>
                    }
                </form>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert warning">
                <strong>@L["InvalidLoginRequest"]</strong>
                @L["ThereAreNoLoginSchemesConfiguredForThisClient"]
            </div>
        }

    </div>
</div>
