@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Generic.Abp.Metro.UI.Account.Web.Pages.Account
@inject IThemeManager ThemeManager
@inject IHtmlLocalizer<AccountResource> L
@model Generic.Abp.Metro.UI.Account.Web.Pages.Account.ManageModel
@{
    Layout = ThemeManager.CurrentTheme.GetApplicationLayout();
}
@section scripts {
    <metro-script-bundle name="@typeof(ManageModel).FullName"/>
}

<h4>@L["MyAccount"]</h4>
@if (!Model.ReturnUrl.IsNullOrWhiteSpace())
{
    <div class="row mb-2">
        <div class="cell-12">
            <a class="button primary" href="@Model.ReturnUrl">
                <i class="fa fa-chevron-left mr-2"></i>@L["ReturnToApplication"]
            </a>
        </div>
    </div>
}

<div id="ProfileManagementWrapper">
    <metro-tabs>
        @foreach (var group in Model.ProfileManagementPageCreationContext.Groups)
        {
            <metro-tab title="@group.DisplayName" target="@group.Id.Replace(".","_")" />
        }
    </metro-tabs>
    <div class="border bd-default no-border-top p-2">
        @foreach (var group in Model.ProfileManagementPageCreationContext.Groups)
        {
            <div id="@group.Id.Replace(".","_")" style="display: none;">
                @await Component.InvokeAsync(group.ComponentType, new
                       {
                           parameter = group.Parameter
                       })

            </div>
        }
    </div>
</div>
