@page
@inject IHtmlLocalizer<AccountResource> L
@inject IHtmlLocalizer<IdentityResource> Li
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Identity.Localization
@model Generic.Abp.Metro.UI.Account.Web.Pages.Account.ResetPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
<div class="card mt-3 rounded">
    <div class="p-5">
        <h4>@L["ResetPassword"]</h4>
        @if (Model.InvalidToken)
        {
            <div class="my-4 fg-red text-center w-100 text-bold">
                @Li["Volo.Abp.Identity:InvalidToken"]
            </div>
        }
        else
        {
            <form method="post">
                <p>@L["ResetPassword_Information"]</p>
                <metro-input asp-for="UserId"/>
                <metro-input asp-for="ResetToken" />
                <metro-input asp-for="Password" autocomplete="new-password" />
                <metro-input asp-for="ConfirmPassword" autocomplete="new-password" />
                <a abp-button="Secondary" asp-page="./Login">@L["Cancel"]</a>
                <button type="submit" class="primary" text="@L["Submit"].Value"/>
            </form>
        }
    </div>
</div>
