@page
@using Generic.Abp.Account.Localization
@using Generic.Abp.Account.Web.Pages.Account
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@model Generic.Abp.Account.Web.Pages.Account.ForgotPasswordModel
@inject IThemeManager ThemeManager
@inject IHtmlLocalizer<AccountResource> L
@inject IPageLayout PageLayout
@{ PageLayout.Content.Title = L["ForgotPassword"].Value;
    Layout = ThemeManager.CurrentTheme.GetAccountLayout(); }
@section scripts {
    <abp-script-bundle name="@typeof(ManageModel).FullName">
        <abp-script src="/Pages/Account/ForgotPassword.js" />
    </abp-script-bundle>
}
<div class="card mt-3 shadow-sm" id="SendCodeCard">
    <div class="card-body p-5">
        <h4>@PageLayout.Content.Title</h4>
        <form method="post" class="mt-4" id="ForgotPasswordForm">
            <div class="input-group mb-3 input-group-lg">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control" placeholder="@L["DisplayName:EmailAddress"]*" asp-for="ForgotPasswordInfoModel.EmailAddress" auto-focus="true" />
                <div class="valid-feedback d-flex">
                    <span asp-validation-for="ForgotPasswordInfoModel.EmailAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group mb-3 input-group-lg">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
                <input type="text" class="form-control" placeholder="@L["DisplayName:VerificationCode"]*" asp-for="ForgotPasswordInfoModel.Code" auto-focus="true" />
                <span class="input-group-text bg-primary" style="cursor: pointer" id="SendCode">@L["Send"]</span>
                <div class="valid-feedback d-flex">
                    <span asp-validation-for="ForgotPasswordInfoModel.Code" class="text-danger"></span>
                </div>
            </div>
            <abp-button type="submit" button-type="Primary" text="@L["Submit"].Value" class="btn-block btn-lg mt-3" />

        </form>
    </div>
</div>
<div class="card mt-3 shadow-sm d-none" id="ResetPasswordCard">
    <div class="card-body p-5">
        <h4>@L["ResetPassword"]</h4>
        <form method="post" class="mt-4" id="ResetPasswordForm">
            <div class="input-group mb-3 input-group-lg">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                <input type="password" asp-for="ResetPasswordInfoBaseModel.NewPassword" placeholder="@L["DisplayName:NewPassword"]*" class="form-control">
                <div class="valid-feedback d-flex">
                    <span asp-validation-for="ResetPasswordInfoBaseModel.NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group mb-3 input-group-lg">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                <input type="password" asp-for="ResetPasswordInfoBaseModel.NewPasswordConfirm" placeholder="@L["DisplayName:NewPasswordConfirm"]*" class="form-control">
                <div class="valid-feedback d-flex">
                    <span asp-validation-for="ResetPasswordInfoBaseModel.NewPasswordConfirm" class="text-danger"></span>
                </div>
            </div>

            <abp-button type="submit" class="btn-block btn-lg mt-3" button-type="Primary" text="@L["Submit"].Value" />
        </form>
    </div>
</div>
