@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using Volo.Abp.AspNetCore.Mvc.UI.Components.LayoutHook
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Abp.MultiTenancy
@using Volo.Abp.Localization
@using Volo.Abp.Ui.Branding
@using Volo.Abp.Ui.LayoutHooks
@using Localization.Resources.AbpUi
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.UI.Navigation
@using Volo.Abp.Users
@inject ICurrentUser CurrentUser
@inject ICurrentTenant CurrentTenant
@inject IHtmlLocalizer<AbpUiResource> L
@model ApplicationMenu
    <a class="dropdown-toggle" href="#">
        @if (CurrentUser.TenantId != null)
        {
            <small><i>@CurrentTenant.Name</i>\</small>@CurrentUser.UserName
        }
        else
        {
            @CurrentUser.UserName
        }
    </a>

    @if (Model.Items.Any())
    {
    <ul class="d-menu bg-dark" data-role="dropdown">
            @foreach (var menuItem in Model.Items)
            {
                var elementId = string.IsNullOrEmpty(menuItem.ElementId) ? string.Empty : $"id=\"{menuItem.ElementId}\"";
                var cssClass = string.IsNullOrEmpty(menuItem.CssClass) ? string.Empty : menuItem.CssClass;
                var disabled = menuItem.IsDisabled ? "disabled" : string.Empty;
                var url = string.IsNullOrEmpty(menuItem.Url) ? "#" : Url.Content(menuItem.Url);
                <li>
                    <a class=" @cssClass @disabled" href="@url" target="@menuItem.Target" @Html.Raw(elementId)>
                        @if (menuItem.Icon != null)
                        {
                            if (menuItem.Icon.StartsWith("fa"))
                            {
                                <i class="@menuItem.Icon"></i>
                            }
                        }
                        @menuItem.DisplayName
                    </a>
                </li>
            }
        </ul>
    }
