@page
@inject IHtmlLocalizer<TailwindResource> L
@inject IHtmlLocalizer<IdentityResource> LI
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Identity.Localization
@using Generic.Abp.Tailwind.Localization
@using Generic.Abp.Tailwind.Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using InputType = Generic.Abp.Tailwind.Microsoft.AspNetCore.Mvc.Rendering.InputType
@model Generic.Abp.Tailwind.Pages.Account.ResetPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
<h2 class="card-title">@L["ResetPassword"]</h2>
@if (Model.InvalidToken)
{
    <p class="text-sm text-error mb-4">@LI["Volo.Abp.Identity:InvalidToken"]</p>
}
else
{
    <p class="text-sm text-secondary mb-4">@L["ResetPassword_Information"]</p>
    <form method="post">
        <input asp-for="UserId" />
        <input asp-for="ResetToken" />
        @Html.TailwindInputFor(m => m.Password, new InputOptions(labelCols: 0, type: InputType.Password, autocomplete: "new-password", iconCls: "fas fa-key text-primary"))
        @Html.TailwindInputFor(m => m.ConfirmPassword, new InputOptions(labelCols: 0, type: InputType.Password, autocomplete: "confirm-password", iconCls: "fas fa-key text-primary"))

        <button type="submit" class="btn btn-primary w-full text-white text-lg mt-4">@L["Submit"]</button>
    </form>
}
