@page
@using Generic.Abp.Metro.UI.TagHelpers.Form
@using Generic.Abp.Metro.UI.TagHelpers.Modal
@using Generic.Abp.OpenIddict.Localization;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.OpenIddict.Localization
@model Generic.Abp.Metro.UI.OpenIddict.Web.Pages.OpenIddict.Applications.CreateModalModel
@inject IHtmlLocalizer<OpenIddictResource> L
@{
    Layout = null;
}
<metro-modal width="800">
    <form asp-page="/OpenIddict/Applications/CreateModal">
        <metro-modal-title title="@L["NewApplication"].Value" />
        <metro-modal-content>
            <metro-form-content cols="2" label-width="120">
                <metro-select asp-for="Application.ApplicationType" label="@L["Application:ApplicationType"].Value" asp-items="@Model.ApplicationTypes" />
                <metro-input asp-for="Application.ClientId" label="@L["Application:ClientId"].Value" />
                <metro-input asp-for="Application.DisplayName" label="@L["Application:DisplayName"].Value" />
                <metro-input asp-for="Application.ClientSecret" label="@L["Application:ClientSecret"].Value" />
                <metro-select asp-for="Application.ClientType" label="@L["Application:Type"].Value" asp-items="@Model.ClientTypes" filter="false" />
                <metro-select asp-for="Application.ConsentType" label="@L["Application:ConsentType"].Value" asp-items="@Model.ApplicationConsentType"  filter="false"/>
                <metro-input asp-for="Application.ClientUri" label="@L["Application:ClientUri"].Value" />
                <metro-input asp-for="Application.LogoUri" label="@L["Application:LogoUri"].Value" />
            </metro-form-content>

        </metro-modal-content>
        <metro-modal-footer buttons="Save | ModalDialogButtons.Cancel " button-alignment="End" />
    </form>
</metro-modal>

