@page
@using Generic.Abp.Demo.Localization
@using Generic.Abp.Metro.UI.TagHelpers.Tab
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model Generic.Abp.Demo.Web.Pages.TagHelpers.TabsModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<DemoResource> L
@{
    Layout = "~/Pages/TagHelpers/Layout.cshtml";
    var text = L["Tabs"].Value;
    PageLayout.Content.Title = text;
}
<div data-role="panel" class="h-100 w-100 scroll-y" data-title-caption="@text" data-cls-title="bg-dark fg-white  h4 m-0">
    @{
        var tabs = new List<TabItem>()
        {
            new (){ Title = "Home", Active = true, Target = "home"},
            new (){ Title = "Profile",Target = "profile"},
            new (){ Title = "Links", Target = "links"},
        };
    }
    <div class="w-100 p-2 border-1 bd-gray border-solid">
        <metro-tabs asp-items="@tabs">
            <metro-tab title="Games" target="games" display-order="10101" />
        </metro-tabs>
        <metro-tabs asp-items="@tabs" data-cls-tabs="mt-2" alignment="Center"></metro-tabs>
        <metro-tabs asp-items="@tabs" data-cls-tabs="mt-2" alignment="End"></metro-tabs>
        <metro-tabs asp-items="@tabs" data-cls-tabs="mt-2" bottom="true"></metro-tabs>
        <div class="row">
            <div id="home">
                Home
            </div>
            <div id="profile">
                Profile
            </div>
            <div id="links">
                Links
            </div>
            <div id="games">
                Games
            </div>
        </div>
    </div>
    <div class=" p-2 bg-grayWhite">
        <pre><code class="language-csharp">
            @{
                var str = @"
var tabs = new List<TabItem>()
{
    new (){ Title = ""Home"", Active = true, Target = ""home""},
    new (){ Title = ""Profile"",Target = ""profile""},
    new (){ Title = ""Links"", Target = ""links""},
};
";
            }
            @str
        </code></pre>
        <div class="code">
            &lt;metro-tabs asp-items="@@tabs" data-cls-tabs="w-100" &gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;metro-tab title="Games" target="games" display-order="10101" /&gt;
            &lt;/metro-tabs&gt;
            &lt;metro-tabs asp-items="@@tabs" data-cls-tabs="mt-2" alignment="Center" &gt;&lt;/metro-tabs&gt;
            &lt;metro-tabs asp-items="@@tabs" data-cls-tabs="mt-2" alignment="End" &gt;&lt;/metro-tabs&gt;
            &lt;metro-tabs asp-items="@@tabs" data-cls-tabs="w-100 mt-2" bottom="true" &gt;&lt;/metro-tabs&gt;
            &lt;div class="row"&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;div id="home"&gt;Home&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;div id="profile"&gt;Profile&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;div id="links"&gt;Links&lt;/div&gt;
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;div id="games"&gt;Games&lt;/div&gt;
            &lt;/div&gt;
        </div>
    </div>
    
    <h4>@L["Vertical"].Value</h4>
    <div class="row p-2 border-1 bd-gray border-solid" style="height: 400px;">
        <div class="cell-sm-3">
            <metro-tabs asp-items="@tabs" vertical="true"></metro-tabs>
        </div>
        <div class="cell-sm-3">
            <metro-tabs asp-items="@tabs" data-cls-tabs="ml-2 h-100" vertical="true" alignment="Center"></metro-tabs>
        </div>
        <div class="cell-sm-3">
            <metro-tabs asp-items="@tabs" data-cls-tabs="ml-2 h-100" vertical="true" alignment="End"></metro-tabs>
        </div>
        <div class="cell-sm-3">
            <metro-tabs asp-items="@tabs" data-cls-tabs="ml-2 h-100" vertical="true" right="true"></metro-tabs>
        </div>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-tabs asp-items="@@tabs" vertical="true" &gt;&lt;/metro-tabs&gt;
            &lt;metro-tabs asp-items="@@tabs" data-cls-tabs="ml-2 h-100" vertical="true" alignment="Center" &gt;&lt;/metro-tabs&gt;
            &lt;metro-tabs asp-items="@@tabs" data-cls-tabs="ml-2 h-100" vertical="true" alignment="End" &gt;&lt;/metro-tabs&gt;
            &lt;metro-tabs asp-items="@@tabs" data-cls-tabs="ml-2 h-100" vertical="true" right="true" &gt;&lt;/metro-tabs&gt;
        </div>
    </div>
    
    <h4>@L["Types"].Value</h4>
    <div class="p-2 border-1 bd-gray border-solid">
        <metro-tabs asp-items="@tabs" type="Text" data-cls-tabs="mt-2"></metro-tabs>
        <metro-tabs asp-items="@tabs" type="Group" data-cls-tabs="mt-2"></metro-tabs>
        <metro-tabs asp-items="@tabs" type="Pills" data-cls-tabs="mt-2"></metro-tabs>
    </div>
    <div class=" p-2 bg-grayWhite">
        <div class="code">
            &lt;metro-tabs asp-items="@@tabs" type="Text" data-cls-tabs="mt-2" &gt;&lt;/metro-tabs&gt;
            &lt;metro-tabs asp-items="@@tabs" type="Group" data-cls-tabs="mt-2" &gt;&lt;/metro-tabs&gt;
            &lt;metro-tabs asp-items="@@tabs" type="Pills" data-cls-tabs="mt-2" &gt;&lt;/metro-tabs&gt;
        </div>
    </div>

</div>