@using Volo.Abp.UI.Navigation
@model ApplicationMenuItem
@{
    var elementId = string.IsNullOrEmpty(Model.ElementId) ? string.Empty : $"id=\"{Model.ElementId}\"";
    var cssClass = string.IsNullOrEmpty(Model.CssClass) ? string.Empty : Model.CssClass;
    var disabled = Model.IsDisabled ? "disabled" : string.Empty;
    var url = string.IsNullOrEmpty(Model.Url) ? "#" : Url.IsLocalUrl(Model.Url) ? Url.Content(Model.Url.EnsureStartsWith('~')) : Model.Url;
}
@if (Model.IsLeaf)
{
    if (Model.Url != null)
    {
        <li class="@cssClass @disabled" @elementId>
            <a href="@url" target="@Model.Target">
                @if (Model.Icon != null)
                {
                    if (Model.Icon.StartsWith("fa") || Model.Icon.StartsWith("mif"))
                    {
                        <span class="icon @Model.Icon"></span>
                    }
                }
                @Model.DisplayName
            </a>
        </li>
    }
}
else
{
    <li>
        <a href="#" class="dropdown-toggle">Products
            @if (Model.Icon != null)
            {
                if (Model.Icon.StartsWith("fa") || Model.Icon.StartsWith("mif"))
                {
                    <span class="icon @Model.Icon"></span>
                }
            }
            @Model.DisplayName
        </a>
        <ul class="d-menu" data-role="dropdown">
            @foreach (var childMenuItem in Model.Items)
            {
                @await Html.PartialAsync("~/Themes/Basic/Components/Menu/_MenuItem.cshtml", childMenuItem)
            }
        </ul>
    </li>
}
