@using Volo.Abp.UI.Navigation
@model ApplicationMenu
@foreach (var menuItem in Model.Items)
{
    var elementId = string.IsNullOrEmpty(menuItem.ElementId) ? string.Empty : $"id=\"{menuItem.ElementId}\"";
    var cssClass = string.IsNullOrEmpty(menuItem.CssClass) ? string.Empty : menuItem.CssClass;
    var disabled = menuItem.IsDisabled ? "disabled" : string.Empty;
    var url = string.IsNullOrEmpty(menuItem.Url) ? "#" : Url.IsLocalUrl(menuItem.Url) ? Url.Content(menuItem.Url.EnsureStartsWith('~')) : menuItem.Url;
    if (menuItem.IsLeaf)
    {
        if (menuItem.Url != null)
        {
            <li class="@cssClass @disabled" @elementId>
                <a href="@url" target="@menuItem.Target">
                    @if (menuItem.Icon != null)
                    {
                        if (menuItem.Icon.StartsWith("fa") || menuItem.Icon.StartsWith("mif"))
                        {
                            <span class="icon @menuItem.Icon"></span>
                        }
                    }
                    @menuItem.DisplayName
                </a>
            </li>
        }
    }
    else
    {
        <li>
            <a href="#" class="dropdown-toggle">Products
                @if (menuItem.Icon != null)
                {
                    if (menuItem.Icon.StartsWith("fa") || menuItem.Icon.StartsWith("mif"))
                    {
                        <span class="icon @menuItem.Icon"></span>
                    }
                }
                @menuItem.DisplayName
            </a>
            <ul class="d-menu" data-role="dropdown">
                @foreach (var childMenuItem in menuItem.Items)
                {
                    @await Html.PartialAsync("~/Themes/Basic/Components/Menu/_MenuItem.cshtml", childMenuItem)
                }
            </ul>
        </li>
    }
}
